
.vs/Compression/v14/.suo
Compression.sln
Compression.VC.db
Compression.VC.VC.opendb
Compression/Compression.vcxproj
Compression/Compression.vcxproj.filters

Compression/cmake-build-debug/Compression

*.txt

Compression/cmake-build-debug/CMakeFiles/Makefile2

*.marks

*.cmake

*.cbp

*.make

Compression/cmake-build-debug/Makefile

Compression/cmake-build-debug/CMakeFiles/feature_tests.bin

Compression/cmake-build-debug/CMakeFiles/Compression.dir/depend.internal

Compression/cmake-build-debug/CMakeFiles/Compression.dir/CXX.includecache

*.log

*.check_cache

*.out

*.c

*.bin

*.xml

*.iml

Compression/cmake-build-debug/CMakeFiles/3.8.2/CompilerIdCXX/CMakeCXXCompilerId.cpp

Compression/cmake-build-debug/CMakeFiles/Compression.dir/main.cpp.o

Compression/cmake-build-debug/CMakeFiles/feature_tests.cxx
*.user
*.tlog
*.obj
*.idb
*.pdb
x64/Debug/Compression.exe
x64/Debug/Compression.ilk
